@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

:root{
    --HEADERFONT: 'Young Serif', serif;
    --BODYFONT: 'Outfit' , sans-serif;
    --BACKGROUNDCOLOR: #fff8e7;
    --BOXBACKGROUND:  #cc187b0c;
    --FONTCOLOR: #5e113b;
    --WHITEFONT: white;
    --BLACKFONT: black;
}

html{
    background-color: var(--WHITEFONT);
    scroll-behavior: smooth;
}

img{
    /* height: 24vh; */
}
.box{
    background-color: var(--BOXBACKGROUND);
    margin: 1.2rem 1rem 1.8rem 1rem;
    height: 13rem;
    border-radius: 2vh;
}
header{
    background-color: var(--WHITEFONT);
    display: flex;
    flex-direction: column;
}
h1{
    font-family: var(--HEADERFONT);
    font-weight: lighter;
    margin: 1.6rem 0rem 1.6rem 0rem;
    padding: 0rem 0rem 0rem 1rem;
}

.text{
    font-family: var(--BODYFONT);
    padding: 0rem 0rem 1.6rem 1rem;
    font-size: 1.1rem;
}
.header{
    text-align: left;
    font-family: var(--BODYFONT);
    color: var(--FONTCOLOR);
    font-size: 1.4rem;
    font-weight: bold;
    margin: 1.5rem 0rem 1.2rem 1.2rem;
}
span{
    font-size: 1rem;
    font-weight: bold;
    color: var(--BLACKFONT);
    font-family: var(--BODYFONT);
}

li{
    font-family: var(--BODYFONT);
    font-weight: 450;
    list-style-position: inside;
    margin: 1.2rem 0rem 1rem 2rem;
}

ul{
    margin-bottom: 2rem;
}
.header-secondary{
    font-family: var(--HEADERFONT);
    font-weight: lighter;
    margin: 0rem 0rem 1.4rem 0rem;
    padding: 0rem 0rem 0rem 1rem;
    font-size: 1.8rem;
    color: var(--FONTCOLOR);
}
.header-second{
    font-family: var(--HEADERFONT);
    font-weight: lighter;
    margin: 2rem 0rem 1.4rem 0rem;
    padding: 0rem 0rem 0rem 1rem;
    font-size: 1.8rem;
    color: var(--FONTCOLOR);
}
ol li{
    text-indent: -2rem;
    margin-left: 3.5rem;
    padding-right: 1rem;
}

ol{
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

.span{
    font-size: 1rem;
    font-weight: bold;
    color: var(--BLACKFONT);
    font-family: var(--BODYFONT);
    margin-left: 1rem;
}

.table{
    height: 40vh;
    width: 90vw;
    margin: 0rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--WHITEFONT);
    align-items: center;
    justify-content: top;
}

.div{
    height: 15vh;
    width: 90vw;
    display: flex;
    align-items: center;
    font-family: var(--BODYFONT);
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.562);
}

div p{
    text-align: left;
    text-indent: 2rem;
    width: 100%;
}

.table-span{
    color: var(--FONTCOLOR);
    width: 60vw;
    margin-left: 4.36rem;
}
.table-span2{
    color: var(--FONTCOLOR);
    width: 60vw;
    margin-left: 5.7rem;
}
.table-span3{
    color: var(--FONTCOLOR);
    width: 60vw;
    margin-left: 5.1rem;
}
.table-span4{
    color: var(--FONTCOLOR);
    width: 60vw;
    margin-left: 7.2rem;
}

.hr{
    border-top: 1px solid rgba(0, 0, 0, 0.562);
    margin: 0rem 1rem;
}
.sign-off{
    font-family: var(--BODYFONT);
    font-size: 1.2rem;
    margin: 1rem;
}
